body{font-family:Verdana,Serif;font-size:90%;background:#fff;color:#111;}
a{color:#369;}
ul{margin:5px 0 0 25px}
li{list-style-type: disc;}
h3, h4{margin:20px 0 5px 0;}
h3{font-size:1.2em;font-weight:bold;}
h4{font-weight:bold;}
p{margin:10px 0;}


#header{background:url('../images/header_back.png?c85a7b86') repeat-x;height:68px;}
#main{width:960px;margin:10px auto;border:1px solid #eee;padding:10px;}